* {
	margin: 0 auto;
}

section.tab-header > .row > div > ul > li > a,
section.tab-content > .row > div > div.tab-content > div.tab-pane > fieldset > legend {
	text-transform: uppercase;
}

section.tab-content > .row > div > div.tab-content > div.tab-pane > fieldset > form > input {
	border-radius: 3px;
	border-width: 2px;
	padding-left: 2px;
	text-transform: uppercase;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

section.tab-content > .row > div > div.tab-content > div.tab-pane > fieldset > form > input:last-child {
	background-color: #337AB7;
	border-width: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
}

section.tab-content > .row > div > div.tab-content > div.tab-pane > fieldset > form > input:last-child:hover {
	color: orange;
}

section.tab-content > .row > div > div.tab-content > div.tab-pane > fieldset > form > span {
	color: red;
}